*{
   margin: 0;
   padding: auto;
}
.container{
    background-color:rgba(255, 144, 14, 0.1); 
}
.nav-desgin{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 50px;
}
.h1-design{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
    padding-left: 100px;
}
ul{
    display: flex;
    padding-right: 120px;
    padding-top: 12px;
}
nav ul li{
    list-style: none;
    padding-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
}
/* header part 2 design */

.partb{
    text-align: center;
}
.partb-h{
    font-weight: 700;
font-size: 64px;
line-height: 75px;
text-align: center;
color: #131313;
}
.partb-p{
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #424242;
    padding-top: 30px;
    padding-bottom: 20px;
}
.header-button{
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.header-img{
    width: 850px;
    height: 100%;
    padding-left: 240px;
    margin-bottom: 20px;
}

/* main body part a  */
.main-parta{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.main-img{
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 10px;
    margin-top: 70px;
    margin-left: 110px;
}
.main-partb{
    padding-top: 310px;
    padding-right: 46px;
    margin-bottom: 250px;
}
.ha-design{
    color: #727272;
}
.hb-design{
    color: #FF900E;
}
.h-design{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 10px;
}
.main-button{
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.p-desgin{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}
.main-button:hover{
    background-color: chartreuse;
}
 /* main body part b  */
.main-part-b{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.main-body-a{
    padding-top: 30px;
   padding-left: 60px;
}
.hha-design{
    border-left: 5px solid orange;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.ppa-design{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.box-design{
    width: 500px;
    height: 100px;
    background-color: #FF900E;
}
.box-design-1,.box-design-2,.box-design-3,.box-design-4{
        height: 100px;
        width: 550px;
        border-radius: 8px;
        background: #FFFFFF;
        box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
        padding: 20px 15px;
}
.add-main{
    background: url(images/architect.png);
    width: 500px;
    height: 830px;
    padding-left:100px;
    padding-right: 40px;
    border-radius: 5px;
}
.bttn{
    margin-top: 770px;
    margin-right: 200px;
    padding: 30px 40px;
    background-color: #FF900E;
    color: white;
    border: none;
}
.bttn:hover{
    background-color: chartreuse;
}

 /* section part  */

 section{
    padding-top: 90px;
    margin-bottom: 40px;
 }
 .sec-part{
    padding-bottom: 80px;
    padding-left: 70px;
 }
 .hhhc{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 10px;
 }
.section-part{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 5px 60px;
    gap: 50px;
}
.box{
    background: white;
    border: #FF900E;
    border-style: solid;
    text-align: center;
    margin: 1px 50px;
    padding: 15px 5px;
    border-width: 1px;
}
.box:hover{
    background-color: chartreuse;
}
 /* extra section */
.extra-section{
    background: white;
    border: green;
    border-style: double;
    text-align: center;
    padding: 25px 15px;
    border-width: 10px;
    margin: 100px 300px;
}
.extra{
    text-align: center;
}
.extrah{
    font-weight: 300;
    font-size: 35px;
    line-height: 53px; 
    color: #131313;
    margin-bottom: 10px;
}
 /* footer part b  */

.section-part-b{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 150px;
}
.hsec{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 10px;
}
.psec{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 20px;
}
.sectionb-design{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px;
}
.footer{
    text-align: center;
    margin-top: 70px;
    background-color: bisque;
    height: 40px;
    padding: 10px 10px;
    margin: 100px 100px;
}

/* media query */

@media  screen and (max-width: 576px){
    .nav-desgin{
        display: flex;
        justify-content: space-between;
        padding-top: 35px;
        margin-bottom:15px; 
    }
    .h1-design{
        font-weight: 100;
        font-size: 25px;
        line-height: 53px;
        text-align: center;
        color: #131313;
        padding-left: 5px;
    }
    ul{
        display: flex;
        padding-right: 110px;
        padding-top: 12px;
    }
    nav ul li{
        list-style: none;
        padding-right: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #424242;
    }
    /* header part 2 design */
    
    .partb{
        text-align: center;
    }
    .partb-h{
        font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    }
    .partb-p{
        font-weight: 200;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #424242;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .header-button{
        background-color: orange;
        color: white;
        border: none;
        padding: 15px 25px;
        border-radius: 8px;
        margin-bottom: 30px;
    }
    .header-img{
        width: 80%;
        height: 100%;
        padding-left: 50px;
        margin-bottom: 20px;
    }
    /* main part a */
    .main-parta{
        margin-bottom: 20px;
    }
    .main-img{
        width: 20px;
        height: 10px;
        grid-template-columns: repeat(1,2fr);
        gap: 10px;
        margin-top: 10px; 
        margin-left: 10px;
        margin-bottom: 200px;
    }
    .main-partb{
        padding-top: 1410px;
        padding-right: 46px;
        margin-bottom: 10px; 
    }
    .ha-design{
        color: #727272;
    }
    .hb-design{
        color: #FF900E;
    }
    .h-design{
        font-weight: 500;
        font-size: 45px;
        line-height: 53px;
        color: #131313;
        margin-bottom: 10px;
    }
    .main-button{
        background-color: orange;
        color: white;
        border: none;
        padding: 15px 25px;
        border-radius: 8px;
        margin-bottom: 30px;
    }
    .p-desgin{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        margin-bottom: 30px;
    }
    .main-button:hover{
        background-color: chartreuse;
    }

    /* main body part b  */
.main-part-b{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 40px;
}
.main-body-a{
    padding-top: 30px;
   padding-left: 5px;
}
.hha-design{
    border-left: 5px solid orange;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.ppa-design{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.box-design{
    width: 300px;
    height: 50px;
    background-color: #FF900E;
}
.box-design-1,.box-design-2,.box-design-3,.box-design-4{
        height: 100px;
        width: 450px;
        border-radius: 8px;
        background: #FFFFFF;
        box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
        padding: 20px 6px;
}
.add-main{
    background: url(images/architect.png);
    width: 50px;
    height: 8s0px;
    padding-left:10px;
    padding-right: 4px;
    border-radius: 5px;
}
.bttn{
    margin-top: 770px;
    margin-right: 200px;
    padding: 30px 40px;
    background-color: #FF900E;
    color: white;
    border: none;
}
.bttn:hover{
    background-color: chartreuse;
}
section{
    padding-top: 90px;
    margin-bottom: 40px;
 }
 .sec-part{
    padding-bottom: 80px;
    padding-left: 70px;
 }
 .hhhc{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 10px;
 }
.section-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5px 5px;
    gap: 20px;
}
.box{
    background: white;
    border: #FF900E;
    border-style: solid;
    text-align: center;
    margin: 1px 50px;
    padding: 15px 5px;
    border-width: 1px;
}
.box:hover{
    background-color: chartreuse;
}
/* extra section */
.extra-section{
    background: white;
    border: green;
    border-style: double;
    text-align: center;
    padding: 5px 5px;
    border-width: 10px;
    margin: 10px 30px;
}
.extra{
    text-align: center;
}
.extrah{
    font-weight: 300;
    font-size: 35px;
    line-height: 53px; 
    color: #131313;
    margin-bottom: 10px;
}
/* footer part b  */

.section-part-b{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 150px;
}
.hsec{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 10px;
}
.psec{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 20px;
}
.sectionb-design{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 3px 5px;
}
.footer{
    text-align: center;
    margin-top: 70px;
    background-color: bisque;
    width: 250px;
    height: 300px;
    padding: 30px 30px;
    margin: 50px 30px;
}
}