*{
   margin: 0;
   padding: auto;
}
.container{
    background-color:rgba(255, 144, 14, 0.1); 
}
.nav-desgin{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 50px;
}
.h1-design{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
    padding-left: 100px;
}
ul{
    display: flex;
    padding-right: 120px;
    padding-top: 12px;
}
nav ul li{
    list-style: none;
    padding-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
}
/* header part 2 design */

.partb{
    text-align: center;
}
.partb-h{
    font-weight: 700;
font-size: 64px;
line-height: 75px;
text-align: center;
color: #131313;
}
.partb-p{
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #424242;
    padding-top: 30px;
    padding-bottom: 20px;
}
.header-button{
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.header-img{
    width: 850px;
    height: 100%;
    padding-left: 240px;
    margin-bottom: 20px;
}

/* main body part a  */
.main-parta{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.main-img{
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 10px;
    margin-top: 70px;
    margin-left: 110px;
}
.main-partb{
    padding-top: 310px;
    padding-right: 46px;
    margin-bottom: 250px;
}
.ha-design{
    color: #727272;
}
.hb-design{
    color: #FF900E;
}
.h-design{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 10px;
}
.main-button{
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.p-desgin{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

 /* main body part b  */
.main-part-b{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.main-body-a{
    padding-top: 30px;
   padding-left: 60px;
}
.hha-design{
    border-left: 5px solid orange;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.ppa-design{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.box-design{
    width: 500px;
    height: 100px;
    background-color: #FF900E;
}
.box-design-1,.box-design-2,.box-design-3,.box-design-4{
        height: 100px;
        width: 550px;
        border-radius: 8px;
        background: #FFFFFF;
        box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
        padding: 20px 15px;
}
.add-main{
    background: url(images/architect.png);
    width: 500px;
    height: 830px;
    padding-left:100px;
    padding-right: 40px;
    border-radius: 5px;
}
.bttn{
    margin-top: 770px;
    margin-right: 200px;
    padding: 30px 40px;
    background-color: #FF900E;
    color: white;
    border: none;
}